// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1400;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

:root {
  // fonts
  --font-family: "HelveticaNeueCyr", sans-serif;

  //colors
  --text-color: #fcfcfc;
  --main-orange: #feac3e;
  --text-2: #848484;
  --bg-color: #050505;
  --black-color: #000000;
  --white-color: #ffffff;
}